.create__task {
    padding: .5rem 1.5rem;
    text-align: center;

    form {

        input, select, option {
            padding: .5rem 1.5rem;
            height: 4rem;
            border: 2px solid $color-primary;
            background-color: $color-white;
            color: $color-primary;
            font-size: 1.4rem;
            margin-right: 1rem;
            border-radius: 6px;
            outline: none;
            text-transform: uppercase;
        }

        input[type=text] {
            width: 40rem;
            text-transform: none;  

            &::placeholder {
                color: $color-primary;
                transition: all .8s;
            }

            &:focus::placeholder {
                color: $color-white;
            }
        }

        input[type=submit] {
            cursor: pointer;
            transition: all .8s;
        }

        input[type=submit]:hover {
            box-shadow: .5rem .5rem .5rem rgba($color-black, .15);
        }

        input[type=submit]:active {
            box-shadow: .2rem .2rem .2rem rgba($color-black, .15);
        }
    }
}