body:hover .flash_message {
    opacity: 0;
}

.flash_message {
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 1rem;
    z-index: 100;
    background-image: linear-gradient(to bottom, $color-secondary-light, $color-secondary-dark);
    color: $color-white;
    padding: 2rem 6rem;
    font-size: 2rem;
    box-shadow: 0 .5rem .5rem rgba($color-black, .15);
    transition: all 10.8s;
}